:root {
  --primary-font-color: #ffffff; // білий шрифт
  --secondary-font-color: #d41443; // рожевий шрифт
  --third-font-color: #ffa5ba; // блідо-рожевий шрифт
  --dark-font-color: #000000; // чорний шрифт
  --grey-font-color: #907e82;
  --accent-color: #d41443;
  --button-color: #d41443;
  --button-light-color: #ffffff;
}
