<section class="about" id="about">
    <div class="container">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__info">
            <picture class="about__image">
                <source srcset="./images/about-cow-desk-1x.png 1x, ./images/about-cow-desk-2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/about-cow-tab-1x.png 1x, ./images/about-cow-tab-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/about-cow-mob-1x.png 1x, ./images/about-cow-mob-2x.png 2x" media="(min-width: 320px)">
                <img src="./images/about-cow-desk-1x.png" alt="cow and jug of milk" width="501" height="501">
            </picture>
            <div class="about__column">
                <p class="about__dark-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem
                    eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__light-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                    rhoncus orci
                    in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa
                    nibh,
                    tincidunt.</p>
                <p class="about__light-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__btn" data-modal-open>Read more
                    <svg class="about__icon-btn" width="10" height="20">
                        <use href="./images/sprite-new.svg#arrow-button">
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>