<section class="advantage">
  <div class="container advantage_container">
    <h2 class="visually-hidden">advantage</h2>
    <ul class="advantage_list list">
      <li class="advantage_item advantage_icon-milk">

        <span class="advantage_item-title big-word">721</span>

        <p class="advantage_item-text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage_item advantage_icon-apple">

        <span class="advantage_item-title">16kg</span>

        <p class="advantage_item-text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantage_item advantage_icon-heart">

        <span class="advantage_item-title big-word">84</span>

        <p class="advantage_item-text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
