<section class="contacts">
  <div class="container">
    <h2 class="contacts__name visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="place">CAFE</p>
        <div class="card__adress">
          <h3 class="card__name-letter">Chicago</h3>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card__graph">
          <div class="card__graph-top">
            <p class="card__name">Monday - Friday</p>
            <span class="card__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="card__graph-bottom">
            <p class="card__name">Saturday - Sunday</p>
            <span class="card__time">08:00 AM - 16:00 PM</span>
          </div>
        </div>
        <div class="card__contacts">
          <a href="tel:+610383766284" class="card__contacts-tel link">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="card__contacts-mail link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="place-color">FOOD TRUCK</p>
        <div class="card__adress">
          <h3 class="card__name-letter">Los Angeles</h3>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card__graph">
          <div class="card__graph-top">
            <p class="card__name">Monday - Friday</p>
            <span class="card__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="card__graph-bottom">
            <p class="card__name">Saturday - Sunday</p>
            <span class="card__time">08:00 AM - 16:00 PM</span>
          </div>
        </div>
        <div class="card__contacts">
          <a href="tel:+610383766284" class="card__contacts-tel link">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="card__contacts-mail link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="place">CAFE</p>
        <div class="card__adress">
          <h3 class="card__name-letter">New York</h3>
          <p class="card__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="card__graph">
          <div class="card__graph-top">
            <p class="card__name">Monday - Friday</p>
            <span class="card__time">06:00 AM - 10:00 PM</span>
          </div>
          <div class="card__graph-bottom">
            <p class="card__name">Saturday - Sunday</p>
            <span class="card__time">08:00 AM - 16:00 PM</span>
          </div>
        </div>
        <div class="card__contacts">
          <a href="tel:+610383766284" class="card__contacts-tel link">
            +61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="card__contacts-mail link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="contacts-button">
      <li class="contacts-button__item">
        <button type="button" class="contacts-button__btn-red">
          Our Locations
          <svg class="contacts-button__icon" width="10" height="20">
            <use href="/src/images/sprite-new.svg#arrow-button"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button type="button" class="contacts-button__btn-white">
          Franchise
          <svg class="contacts-button__icon-fill" width="10" height="20">
            <use href="/src/images/sprite-new.svg#arrow-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
