<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="customer-reviews__card">
      <div class="customer-reviews__figure">
        <picture>
          <source class="customer-reviews__image" />
        </picture>
      </div>
      <div class="customer-reviews__body">
        <p class="customer-reviews__copy">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="customer-reviews__footer">
        <p class="customer-reviews__actions">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</section>
