<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="customer-reviews__card">
      <ul class="customer-reviews__slider-list">
        <li class="cutomer-reviews__slider-item">
          <div class="customer-reviews__figure">
            <picture>
              <source
                srcset="
                  /src/images/review-1-1x.jpg 1x,
                  /src/images/review-1-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/review-1-1x.jpg"
                alt="avatar"
                width="85"
                height="85"
                class="customer-reviews__image"
              />
            </picture>
          </div>
          <div class="customer-reviews__body">
            <span class="customer-reviews__underline"></span>
            <p class="customer-reviews__copy">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-reviews__footer">
            <p class="customer-reviews__actions">Emily, Los Angeles</p>
          </div>
        </li>

        <li class="cutomer-reviews__slider-item">
          <div class="customer-reviews__figure">
            <picture>
              <source
                srcset="
                  /src/images/review-2-1x.jpg 1x,
                  /src/images/review-2-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/review-2-1x.jpg"
                alt="avatar"
                width="85"
                height="85"
                class="customer-reviews__image"
              />
            </picture>
          </div>
          <div class="customer-reviews__body">
            <span class="customer-reviews__underline"></span>
            <p class="customer-reviews__copy">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-reviews__footer">
            <p class="customer-reviews__actions">Emily, Los Angeles</p>
          </div>
        </li>

        <li class="cutomer-reviews__slider-item">
          <div class="customer-reviews__figure">
            <picture>
              <source
                srcset="
                  /src/images/review-3-1x.jpg 1x,
                  /src/images/review-3-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="/src/images/review-3-1x.jpg"
                alt="avatar"
                width="85"
                height="85"
                class="customer-reviews__image"
              />
            </picture>
          </div>
          <div class="customer-reviews__body">
            <span class="customer-reviews__underline"></span>
            <p class="customer-reviews__copy">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customer-reviews__footer">
            <p class="customer-reviews__actions">Emily, Los Angeles</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
