<footer class="section">
  <div class="container footer__container">
    <div class="footer__conteiner-tab">
      <div class="footer__titel">
        <p class="footer__titel-one">homemade ice cream made</p>
        <p class="footer__titel-two">with passion</p>
      </div>
      <div class="footer__network-cont">
        <ul class="footer__networks">
          <li class="footer__networks-item">
            <a
              href="https://github.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="footer__networks-link"
            >
              <svg class="footer__networks-name">
                <use href="/src/images/sprite-new.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a
              href="https://web.telegram.org/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="footer__networks-link"
            >
              <svg class="footer__networks-name">
                <use href="/src/images/sprite-new.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__networks-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
              class="footer__networks-link"
            >
              <svg class="footer__networks-name" width="20" height="20px">
                <use href="/src/images/sprite-new.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <!-- <p class="footer__contact__titel">Feel free to contact</p> -->
          <a href="tel:+61(0)383766284" class="footer__tel"
            ><span class="footer__contact-titel">Feel free to contact</span> +61
            (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <p class="сopyright">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
