<section class="gallery">
  <picture>
    <source
      srcset="
        ./images/gallery-2-green-ice-creams-desk-1x.jpg 1x,
        ./images/gallery-2-green-ice-creams-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-2-green-ice-creams-tab-1x.jpg 1x,
        ./images/gallery-2-green-ice-creams-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-2-green-ice-creams-mob-1x.jpg 1x,
        ./images/gallery-2-green-ice-creams-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-2-green-ice-creams-mob-1x.jpg"
      alt="green ice cream on the table"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-beige&rose-ice-cream-desk-1x.jpg 1x,
        ./images/gallery-beige&rose-ice-cream-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-beige&rose-ice-cream-tab-1x.jpg 1x,
        ./images/gallery-beige&rose-ice-cream-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-beige&rose-ice-cream-mob-1x.jpg 1x,
        ./images/gallery-beige&rose-ice-cream-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-beige&rose-ice-cream-mob-1x.jpg"
      alt="pink ice cream in hand"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-many-rose-ice-creams-desk-1x.jpg 1x,
        ./images/gallery-many-rose-ice-creams-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-many-rose-ice-creams-tab-1x.jpg 1x,
        ./images/gallery-many-rose-ice-creams-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-many-rose-ice-creams-mob-1x.jpg 1x,
        ./images/gallery-many-rose-ice-creams-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-many-rose-ice-creams-mob-1x.jpg"
      alt="lots of pink ice cream"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-ice-cream-cones-desk-1x.jpg 1x,
        ./images/gallery-ice-cream-cones-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-ice-cream-cones-tab-1x.jpg 1x,
        ./images/gallery-ice-cream-cones-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-ice-cream-cones-mob-1x.jpg 1x,
        ./images/gallery-ice-cream-cones-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-ice-cream-cones-mob-1x.jpg"
      alt="ice cream in different colors"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-girl&ice-cream-desk-1x.jpg 1x,
        ./images/gallery-girl&ice-cream-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-girl&ice-cream-tab-1x.jpg 1x,
        ./images/gallery-girl&ice-cream-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-girl&ice-cream-mob-1x.jpg 1x,
        ./images/gallery-girl&ice-cream-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-girl&ice-cream-mob-1x.jpg"
      alt="girl holding ice cream"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-plates-with-ice-cream-desk-1x.jpg 1x,
        ./images/gallery-plates-with-ice-cream-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-plates-with-ice-cream-tab-1x.jpg 1x,
        ./images/gallery-plates-with-ice-cream-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-plates-with-ice-cream-mob-1x.jpg 1x,
        ./images/gallery-plates-with-ice-cream-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-plates-with-ice-cream-mob-1x.jpg"
      alt="ice cream in a glass"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-pink-ice-cream-in-cone-desk-1x.jpg 1x,
        ./images/gallery-pink-ice-cream-in-cone-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-pink-ice-cream-in-cone-tab-1x.jpg 1x,
        ./images/gallery-pink-ice-cream-in-cone-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-pink-ice-cream-in-cone-mob-1x.jpg 1x,
        ./images/gallery-pink-ice-cream-in-cone-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-pink-ice-cream-in-cone-mob-1x.jpg"
      alt="orange ice cream in hand"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-dog&ice-cream-desk-1x.jpg 1x,
        ./images/gallery-dog&ice-cream-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-dog&ice-cream-tab-1x.jpg 1x,
        ./images/gallery-dog&ice-cream-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-dog&ice-cream-mob-1x.jpg 1x,
        ./images/gallery-dog&ice-cream-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img
      src="./images/gallery-dog&ice-cream-mob-1x.jpg"
      alt="the dog eats ice cream"
    />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-milkshake-desk-1x.jpg 1x,
        ./images/gallery-milkshake-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-milkshake-desk-1x.jpg 1x,
        ./images/gallery-milkshake-desk-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-milkshake-mob-1x.jpg 1x,
        ./images/gallery-milkshake-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img src="./images/gallery-milkshake-mob-1x.jpg" alt="ice cream cocktail" />
  </picture>

  <picture>
    <source
      srcset="
        ./images/gallery-small-cake-desk-1x.jpg 1x,
        ./images/gallery-small-cake-desk-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/gallery-small-cake-tab-1x.jpg 1x,
        ./images/gallery-small-cake-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/gallery-small-cake-mob-1x.jpg 1x,
        ./images/gallery-small-cake-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />

    <img src="./images/gallery-small-cake-mob-1x.jpg" alt="small ice cream" />
  </picture>
</section>
