<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>

    <ul class="gallery-grid__list">
      <li class="gallery-grid__item grid__item-1">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-2-green-ice-creams-desk.webp    1x,
                ./images/gallery-2-green-ice-creams-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-2-green-ice-creams-tab.webp    1x,
                ./images/gallery-2-green-ice-creams-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-2-green-ice-creams-mob.webp    1x,
                ./images/gallery-2-green-ice-creams-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-2-green-ice-creams-desk.webp"
              alt="green ice cream on the table"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-2">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-beige&rose-ice-cream-desk.webp    1x,
                ./images/gallery-beige&rose-ice-cream-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-beige&rose-ice-cream-tab.webp    1x,
                ./images/gallery-beige&rose-ice-cream-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-beige&rose-ice-cream-mob.webp    1x,
                ./images/gallery-beige&rose-ice-cream-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-beige&rose-ice-cream-desk.webp"
              alt="pink ice cream in hand"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-3">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-many-rose-ice-creams-desk.webp    1x,
                ./images/gallery-many-rose-ice-creams-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-many-rose-ice-creams-tab.webp    1x,
                ./images/gallery-many-rose-ice-creams-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-many-rose-ice-creams-mob.webp    1x,
                ./images/gallery-many-rose-ice-creams-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-many-rose-ice-creams-desk.webp"
              alt="lots of pink ice cream"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-4">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-ice-cream-cones-desk.webp    1x,
                ./images/gallery-ice-cream-cones-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-ice-cream-cones-tab.webp    1x,
                ./images/gallery-ice-cream-cones-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-ice-cream-cones-mob.webp    1x,
                ./images/gallery-ice-cream-cones-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-ice-cream-cones-desk.webp"
              alt="ice cream in different colors"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-5">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-girl&ice-cream-desk.webp    1x,
                ./images/gallery-girl&ice-cream-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-girl&ice-cream-tab.webp    1x,
                ./images/gallery-girl&ice-cream-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-girl&ice-cream-mob.webp    1x,
                ./images/gallery-girl&ice-cream-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-girl&ice-cream-desk.webp"
              alt="girl holding ice cream"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-6">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-plates-with-ice-cream-desk.webp    1x,
                ./images/gallery-plates-with-ice-cream-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-plates-with-ice-cream-tab.webp    1x,
                ./images/gallery-plates-with-ice-cream-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-plates-with-ice-cream-mob.webp    1x,
                ./images/gallery-plates-with-ice-cream-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-plates-with-ice-cream-desk.webp"
              alt="ice cream in a glass"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-7">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-pink-ice-cream-in-cone-desk.webp    1x,
                ./images/gallery-pink-ice-cream-in-cone-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-pink-ice-cream-in-cone-tab.webp    1x,
                ./images/gallery-pink-ice-cream-in-cone-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-pink-ice-cream-in-cone-mob.webp    1x,
                ./images/gallery-pink-ice-cream-in-cone-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-pink-ice-cream-in-cone-desk.webp"
              alt="orange ice cream in hand"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-8">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-dog&ice-cream-desk.webp    1x,
                ./images/gallery-dog&ice-cream-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-dog&ice-cream-tab.webp    1x,
                ./images/gallery-dog&ice-cream-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-dog&ice-cream-mob.webp    1x,
                ./images/gallery-dog&ice-cream-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-dog&ice-cream-desk.webp"
              alt="the dog eats ice cream"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-9">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-milkshake-desk.webp    1x,
                ./images/gallery-milkshake-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-milkshake-tab.webp    1x,
                ./images/gallery-milkshake-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-milkshake-mob.webp    1x,
                ./images/gallery-milkshake-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-milkshake-desk.webp"
              alt="ice cream cocktail"
            />
          </picture>
        </div>
      </li>

      <li class="gallery-grid__item grid__item-10">
        <div class="gallery-grid__thumb card">
          <picture class="gallery-grid__img">
            <source
              srcset="
                ./images/gallery-small-cake-desk.webp    1x,
                ./images/gallery-small-cake-desk@x2.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/gallery-small-cake-tab.webp    1x,
                ./images/gallery-small-cake-tab@x2.webp 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/gallery-small-cake-mob.webp    1x,
                ./images/gallery-small-cake-mob@x2.webp 2x
              "
              media="(min-width: 320px)"
            />

            <img
              src="./images/gallery-small-cake-desk.webp"
              alt="small ice cream"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
