<section class="gallery">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        srcset="./images/gallery-desk.webp 1x, ./images/gallery-desk@x2.webp 2x"
        media="(min-width: 1200px)"
      />

      <source
        srcset="./images/gallery-tab.webp 1x, ./images/gallery-tab@x2.webp 2x"
        media="(min-width: 768px)"
      />

      <source
        srcset="./images/gallery-mob.webp 1x, ./images/gallery-mob@x2.webp 2x"
        media="(min-width: 320px)"
      />

      <img src="./images/gallery-mob.webp" alt="gallery" />
    </picture>
  </div>
</section>
