<div class="header-hero">
  <header class="header">
    <div class="container header__container">
      <a class="logo" href="./index.html">
        <svg class="logo" width="199" height="50">
          <use class="logo__svg" href="/src/images/sprite-new.svg#logo"></use>
        </svg>
      </a>

      <div class="header__button-box">
        <button
          type="button"
          class="button-menu"
          aria-expanded="false"
          data-menu-button
        >

          <use
            class="button-menu__close"
            href="/src/images/sprite-new.svg#close-btn"
          ></use>
          <use
            class="button-menu__burger"
            href="/src/images/sprite-new.svg#burger"
          ></use>
        </svg>
      </button>

      <button
        class="button-hero-header button-hero-header--top"
        type="button"
        data-modal-open
      >
        Buy now<svg class="button-hero-header__svg" width="5" height="8">
          <use href="/src/images/sprite-new.svg#arrow-button"></use>
        </svg>
      </button>

          <svg
            class="buttun-menu__icon"
            width="20"
            height="16"
            aria-label="Кнопка мобильного меню"
          >
            <use
              class="button-menu__close"
              href="/src/images/sprite-new.svg#close-btn"
            ></use>
            <use
              class="button-menu__burger"
              href="/src/images/sprite-new.svg#burger"
            ></use>
          </svg>
        </button>

        <button
          class="button-hero-header button-hero-header--top"
          type="button"
        >
          Buy now<svg class="button-hero-header__svg" width="5" height="8">
            <use href="/src/images/sprite-new.svg#arrow-button"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu" data-menu>
        <div class="mobile-menu__content">
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a
                  class="navigation__link navigation__link--accent"
                  href="./index.html"
                  >Home</a
                >
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="">About us</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#about">How it’s made?</a>
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="#products">Our products</a>
              </li>
              <li class="navigation__item navigation__item--last">
                <a class="navigation__link" href="#contacts">Contact</a>
              </li>
            </ul>
          </nav>
          <button
            class="button-hero-header button-hero-header--mob-menu"
            type="button"
          >
            Buy now<svg class="button-hero-header__svg" width="8" height="14">
              <use href="/src/images/sprite-new.svg#arrow-button"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="container hero__container">
      <div class="hero__box">
        <div>
          <h1 class="hero__title">
            ice cream made with <span class="hero__title-top">passion</span>
          </h1>

          <div class="link-box">
            <a
              class="link-box__item link-box__item--on-products"
              href="#products"
              >Products</a
            >
            <a class="link-box__item link-box__item--on-made" href="#about"
              >How it’s made?</a
            >
          </div>
        </div>

        <div class="capabilities">
          <span class="capabilities__number">16</span>
          <p class="capabilities__text">cafes</p>

          <span class="capabilities__number">23</span>
          <p class="capabilities__text">food trucks</p>
        </div>
      </div>

      <div class="hero__jug-of-milk-box">
        <picture class="hero__img-jug-of-milk">
          <source
            srcset="
              ./images/hero-jug-of-milk-desk-1x.png 1x,
              ./images/hero-jug-of-milk-desk-2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/hero-jug-of-milk-tab-1x.png 1x,
              ./images/hero-jug-of-milk-tab-2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="./images/hero-jug-of-milk-desk-1x.png"
            alt="jug of milk"
            width=""
            height=""
          />
        </picture>

        <div class="hero__box-text">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <a class="hero__circle-for-arrow" href="">
            <svg class="hero__arrow" width="6" height="5">
              <use class="" href="./images/sprite-new.svg#arrow-right2"></use>
            </svg>
          </a>
        </div>
      </div>

      <span class="circle"></span>

      <picture class="hero__img-ice-cream">
        <source
          srcset="
            ./images/hero-ice-cream-desk-1x.png 1x,
            ./images/hero-ice-cream-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero-ice-cream-tab-1x.png 1x,
            ./images/hero-ice-cream-tab-2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero-ice-cream-mob-1x.png 1x,
            ./images/hero-ice-cream-mob-2x.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <img
          src="./images/hero-ice-cream-desk-1x.png"
          alt="ice cream"
          width=""
          height=""
        />
      </picture>

      <picture class="hero__img-girl">
        <source
          srcset="
            ./images/hero-girl-desk-1x.png 1x,
            ./images/hero-girl-desk-2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />
        <source
          srcset="
            ./images/hero-girl-tab-1x.png 1x,
            ./images/hero-girl-tab-2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <img
          src="./images/hero-girl-desk-1x.png"
          alt="girl with ice cream"
          width=""
          height=""
        />
      </picture>
    </div>
  </section>
</div>
