<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close" data-modal-close>
      <svg class="button-close">
        <use href="/src/images/symbol-defs.svg#icon-btn-close-modal"></use>
      </svg>
    </button>
    <p class="modal__titel">Leave your details, we will call you back</p>
    <form class="form">
      <div class="form__box">
        <div class="form__fill">
          <label for="name" class="form__label">Name</label>
          <input type="text" name="name" id="name" class="form__input" />
          <span class="form__icon"
            ><svg>
              <use href="/src/images/symbol-defs.svg#icon-person"></use>
            </svg>
          </span>
        </div>
        <div class="form__fill">
          <label for="tel" class="form__label">Phone</label>
          <input type="tel" name="tel" id="tel" class="form__input" />
          <span class="form__icon"
            ><svg>
              <use href="/src/images/symbol-defs.svg#icon-phone"></use>
            </svg>
          </span>
        </div>
        <div class="form__fill">
          <label for="mail-modal" class="form__label">E-mail</label>
          <input type="email" name="mail" id="mail-modal" class="form__input" />
          <span class="form__icon"
            ><svg>
              <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
            </svg>
          </span>
        </div>
        <div class="form__fill form__fill--margin">
          <label for="comment" class="form__label">Comment</label>
          <textarea
            name="comment"
            id="comment"
            rows="10"
            placeholder="Write text"
          ></textarea>
        </div>
        <div class="checkbox">
          <input
            type="checkbox"
            name="terms"
            id="terms"
            class="checkbox__input"
          />
          <label for="terms" class="checkbox__label"
            >I agree to the newsletter and accept the
            <span
              ><a href="" class="checkbox__contract"
                >terms of the contract</a
              ></span
            ></label
          >
        </div>
        <button type="submit" class="send-button">Submit</button>
      </div>
    </form>
  </div>
</div>
