<!-- MODAL -->
<div class="backdrop "> 
    <!-- В БЭКДРОП ДОПИСАТЬ IS HIDDEN!!!!!! -->
    <div class="products--modal">
        <button type="button" class="products--modal__close">
            <svg class="products--modal__close-svg" width="11" height="11">
                <use href="./images/sprite-new.svg#close-btn"></use>
            </svg>
        </button>
        <p class="products--modal__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio velit labore
            sit tempore vero modi omnis voluptate itaque minus inventore. Magni dolore molestiae quod aut ad reiciendis
            voluptas, voluptates esse ea voluptatem laboriosam, veniam pariatur vitae, nostrum numquam facere nulla
            repellat illo vero a mollitia recusandae! Blanditiis doloribus unde ipsum?
        </p>
    </div>
</div>