<div class="products--modal modal__open" data-modal="3">
  <button type="button" class="close js-modal-close">
    <svg class="products--modal__close-svg" width="11" height="11">
      <use href="./images/symbol-defs.svg#icon-btn-close-modal"></use>
    </svg>
  </button>
  <p class="products--modal__title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatem,
    maxime non quos blanditiis tempore culpa aperiam, vel amet modi ad ipsum
    accusantium obcaecati ullam quia! Voluptatem laboriosam ex libero, commodi,
    provident unde sequi, cum eum ad velit iusto! Nemo facere harum nisi
    adipisci itaque? Excepturi, impedit quae deserunt facere aliquid vitae
    itaque aspernatur facilis optio architecto libero culpa assumenda nobis
    harum sed eos commodi, laborum nam voluptate alias iste, ea dignissimos
    magni voluptatibus. Debitis sapiente similique fugiat porro eos ab,
    voluptatem nemo hic accusamus quibusdam necessitatibus est, quaerat velit?
  </p>
</div>

<div class="products--modal products--modal-1 modal__open" data-modal="4">
  <button type="button" class="close js-modal-close">
    <svg class="products--modal__close-svg" width="11" height="11">
      <use href="./images/symbol-defs.svg#icon-btn-close-modal"></use>
    </svg>
  </button>
  <p class="products--modal__title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatem,
    maxime non quos blanditiis tempore culpa aperiam, vel amet modi ad ipsum
    accusantium obcaecati ullam quia! Voluptatem laboriosam ex libero, commodi,
    provident unde sequi, cum eum ad velit iusto! Nemo facere harum nisi
    adipisci itaque? Excepturi, impedit quae deserunt facere aliquid vitae
    itaque aspernatur facilis optio architecto libero culpa assumenda nobis
    harum sed eos commodi, laborum nam voluptate alias iste, ea dignissimos
    magni voluptatibus. Debitis sapiente similique fugiat porro eos ab,
    voluptatem nemo hic accusamus quibusdam necessitatibus est, quaerat velit?
  </p>
</div>

<div class="products--modal products--modal-2 modal__open" data-modal="5">
  <button type="button" class="close js-modal-close">
    <svg class="products--modal__close-svg" width="11" height="11">
      <use href="./images/symbol-defs.svg#icon-btn-close-modal"></use>
    </svg>
  </button>
  <p class="products--modal__title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatem,
    maxime non quos blanditiis tempore culpa aperiam, vel amet modi ad ipsum
    accusantium obcaecati ullam quia! Voluptatem laboriosam ex libero, commodi,
    provident unde sequi, cum eum ad velit iusto! Nemo facere harum nisi
    adipisci itaque? Excepturi, impedit quae deserunt facere aliquid vitae
    itaque aspernatur facilis optio architecto libero culpa assumenda nobis
    harum sed eos commodi, laborum nam voluptate alias iste, ea dignissimos
    magni voluptatibus. Debitis sapiente similique fugiat porro eos ab,
    voluptatem nemo hic accusamus quibusdam necessitatibus est, quaerat velit?
  </p>
</div>
