img {
  max-width: 100%;
  height: auto;
}

.about {
  padding-top: 60px;
  background-color: #fff5f6;
}

.about .container {
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.about__label {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-font-color);

  @include tablet {
    font-size: 26px;
    line-height: 1.15;
  }

  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);

  @include tablet {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  @include desktop {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 60px;
  }
}

.about__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  background-image: url('../images/about-bg-milk-mob-1x.png');
  background-repeat: no-repeat;
  background-size: 280px;
  background-position: top 72% left 50%;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/about-bg-milk-mob-2x.png');
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.76;
    display: flex;
    align-items: center;
    min-width: 704px;
    background-size: 0;
    background-image: url('../images/about-bg-milk-tab-1x.png');
    background-repeat: no-repeat;
    background-size: 702px;
    background-position: top 0 left 0;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about-bg-milk-tab-2x.png');
    }
  }

  @include desktop {
    background-image: url('../images/about-bg-milk-desk-1x.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: top 72% left 50%;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/about-bg-milk-desk-2x.png');
    }
  }
}

.about__image {
  @include tablet {
    width: 336px;
  }

  @include desktop {
    width: 501px;
  }
}

.about__column {
  margin-top: 40px;
  @include tablet {
    margin-left: 32px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 334px;
  }

  @include desktop {
    margin-left: 99px;
    width: 463px;
  }
}

.about__dark-text {
  padding-right: 60px;
  margin-bottom: 23px;
  color: var(--dark-font-color);

  @include tablet {
    margin-top: 0;
    padding-right: 0;
    margin-bottom: 22px;
  }

  @include desktop {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.about__light-text {
  padding-right: 60px;
  margin-top: 0;
  color: var(--grey-font-color);

  @include tablet {
    padding-right: 0;
  }

  @include desktop {
    line-height: 1.94;
  }
}

.about__light-text ~ .about__light-text {
  margin-bottom: 20px;
  margin-top: 20px;

  @include desktop {
    margin-bottom: 40px;
    margin-top: 42px;
  }
}

.about__btn {
  padding: 10px 37px 10px 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--button-light-color);
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  @include tablet {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__icon-btn {
  margin-left: 17px;
  fill: var(--button-color);

  @include tablet {
    margin-left: 14px;
  }
}

.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 0, 0, 0.12);
  opacity: 1;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
