.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 60;
  transition: box-shadow 300ms ease-in-out, opacity 300ms ease-in-out,
    visibility 300ms ease-in-out, backdrop-filter 300ms ease-in-out;
}

.modal__open {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 80;

  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: box-shadow 300ms ease-in-out, opacity 300ms ease-in-out,
    transform 300ms ease-in-out, visibility 300ms ease-in-out;
}

.modal__open.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(10px);
}

.modal__open.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.scroll.no {
  overflow: hidden;
}
