.products {
    padding: 60px 0px 60px 0px;
}

.products__quality {
    margin-bottom: 15px;
    font-family: 'Titan One', cursive;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--third-font-color);
    @media screen and (min-width: 768px) {
        margin-bottom: 18px;
        font-size: 26px;
        line-height: 1.15;
    }
}

.products__title {
    margin-bottom: 8px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.48;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.146;   
        margin-bottom: 0;           
    }
}

.products__list {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    }
}

.products__item {
    width: 280px;
    height: 489px;
    border-radius: 24px;
    margin-top: 140px;
    &--1 {
    background: #FFB8CA;
    }
    &--2 {
    background: #F0D1A5;
    }
    &--3 {
    background: #C2E297;
    }   
    @media screen and (min-width: 768px) {
    height: 473px;
    width: calc((100% - 32px) / 3);
    margin-top: 158px;
    }
}

.products__item--name {
    position: relative;
    padding-top: 160px;
    margin-bottom: 70px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-font-color);
    @media screen and (min-width: 768px) {
        padding-top: 118px;
    }
    &::before {
    width: 280px;
    height: 280px;
    background-size: cover;
    position: absolute;
    left: 0%;
    top: -140px;
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        top: -138px;
        }
    } 
}

.products__item--icecream::before {
    content: "";
    background-image: url("../images/products-ice-cream-mob-1x.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/products-ice-cream-mob-2x.png");
    }
    @media screen and (min-width: 768px) {
        background-image: url("../images/products-ice-cream-tab-1x.png");
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/products-ice-cream-tab-2x.png");
            }
    }
}

.products__item--icecoffee::before {
    content: "";
    background-image: url("../images/products-coffee-mob-1x.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/products-coffee-mob-2x.png");
    }
    @media screen and (min-width: 768px) {
    background-image: url("../images/products-coffee-tab-1x.png");
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/products-coffee-tab-2x.png");
        }
    }
}

.products__item--milkshakes::before {
    content: "";
    background-image: url("../images/products-milkshake-mob-1x.png");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/products-milkshake-mob-2x.png");
    }
    @media screen and (min-width: 768px) {
    background-image: url("../images/products-milkshake-tab-1x.png");
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/products-milkshake-tab-2x.png");
        }
    }
}

.products__item--about {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-font-color);
    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
        line-height: 1.79;
        }
    &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../images/white-three-dots.svg");
    width: 26px;
    height: 6px;
    background-size: cover;
    fill: #ffffff;
}
}

.products__link {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    @media screen and (min-width: 768px) {
        top: 22px;
    }
    &::before {
    position: absolute;
    content: "";
    background-image: url('../images/arrow-right.svg');
    width: 10px;
    height: 10px;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
